.factory-button {
    margin: .5%;
    float: right;
}

.addfactory {
    margin-bottom: .5%;
}

.button-row {
    display: table-cell;
    width: -webkit-fill-available;
    margin-right: 1%;
}

.label {
    display: table-cell;
    width: -webkit-fill-available;
}
